:root{
    --elements-per-row:4;
    --elements-per-row-1200px:3;
    --elements-per-row-900px:2;
    --elements-per-row-600px:1;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,
body{
    background: no-repeat fixed; 
    background-size: cover;
    height: 100%;
}

.main-container{
    margin:0 5%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--elements-per-row),1fr);
}

.anchor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.anchor-container > a{
    width: 146px;
    height: 146px;
    color:white;
    border-radius: 18px;
}

.anchor-container > a > i{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.anchor-container > p{
    position: relative;
    top:19px;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 50px;
}


.anchor-container a:hover{
    transform:scale(1.05);
 }
 
 .anchor-container a:hover+p{
    color:rgb(186, 224, 236);
 }

@media screen and (max-width:1200px){
    .main-container{
        grid-template-columns: repeat(var(--elements-per-row-1200px),1fr); 
    }
}

@media screen and (max-width:900px){
    .main-container{
        grid-template-columns: repeat(var(--elements-per-row-900px),1fr); 
    }
}

@media screen and (max-width:600px){
    .main-container{
        grid-template-columns: repeat(var(--elements-per-row-600px),1fr); 
    }
}




