:root{
    --my-margin:2%;
    --my-elements-per-row:4;
    --my-width1: calc((100% - var(--my-margin) * ((var(--my-elements-per-row) - 2) * 2 + 2)) / (var(--my-elements-per-row) - 1));
    --my-width2: calc((100% - var(--my-margin) * ((var(--my-elements-per-row) - 3) * 2 + 2)) / (var(--my-elements-per-row) - 2));
    --my-width3: calc((100% - var(--my-margin) * ((var(--my-elements-per-row) - 4) * 2 + 2)) / (var(--my-elements-per-row) - 3));
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,
body{
    background: no-repeat fixed; 
    background-size: cover;
    height: 100%;
}

.main-container{
    margin:0 5%;
    height: 100%;
    display: flex;
    justify-content: space-around flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.anchor-container{

    display: flex;
    flex-direction: column;
    margin:var(--my-margin);
    width: calc((100% - var(--my-margin) * ((var(--my-elements-per-row)-1)*2 +2)) / (var(--my-elements-per-row)));
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.anchor-container > a{
    width: 146px;
    height: 146px;
    color:white;
    border-radius: 18px;
}

.anchor-container > a > i{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.anchor-container > p{
    position: relative;
    top:19px;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 50px;
}

.anchor-container:hover{
   transform:scale(1.05);
}
.anchor-container:hover p{
    color:rgb(186, 224, 236);
}

p.label-error{
    margin:20px 50px;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    background-color: black;
    text-align: justify;
    
    width: calc(100% - 100px);
    top:0;
    color:white;
    font-size: 30px;
}

@media screen and (max-width:1200px){
    .anchor-container{
        width: var(--my-width1);
    }
}

@media screen and (max-width:900px){
    .anchor-container{
        width: var(--my-width2);
     }
}

@media screen and (max-width:575px){
    .anchor-container{
        width: var(--my-width3);   
    }
}