apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: %subdomain%
  name: %subdomain%
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: %subdomain%
  strategy: {}
  template:
    metadata:
      labels:
        io.kompose.service: %subdomain%
    spec:
      containers:
      - image: public.ecr.aws/n4q1q0z2/pharmaledger-%domain%:1.0
        imagePullPolicy: "Always"
        name: epi
        ports:
          - containerPort: 8080
        volumeMounts:
          - name: epi-config-volume
            mountPath: /ePI-workspace/apihub-root/external-volume/config/apihub.json
            subPath: apihub.json
          - name: epi-config-volume
            mountPath: /ePI-workspace/apihub-root/external-volume/config/bdns.hosts
            subPath: bdns.hosts
          - name: epi-domains-volume
            mountPath: /ePI-workspace/apihub-root/external-volume/config/domains/%domain%.json
            subPath: %domain%.json
          - name: epi-domains-volume
            mountPath: /ePI-workspace/apihub-root/external-volume/config/domains/%subdomain%.json
            subPath: %subdomain%.json
          - name: epi-domains-volume
            mountPath: /ePI-workspace/apihub-root/external-volume/config/domains/%vaultdomain%.json
            subPath: %vaultdomain%.json
          - name: epi-domains-volume
            mountPath: /ePI-workspace/apihub-root/external-volume/config/domains/default.json
            subPath: default.json
          - name: epi-domains-volume
            mountPath: /ePI-workspace/apihub-root/external-volume/config/domains/vault.json
            subPath: vault.json            
      restartPolicy: Always
      volumes:
        - name: epi-config-volume
          configMap:
            name: %subdomain%
        - name: epi-domains-volume
          configMap:
            name: domains-%subdomain%
