apiVersion: v1
kind: ConfigMap
metadata:
  name: domains-%subdomain%
data:
   default.json: |-
     {
       "anchoring": {
         "type": "FS",
         "option": {
           "enableBricksLedger": false
         },
         "commands": {
           "addAnchor": "anchor"
         }
       }
     }
   vault.nvs.json: |-
    {
      "anchoring": {
        "type": "FS",
        "option": {}
      }
    }     
   vault.json: |-
     {
       "anchoring": {
         "type": "FS",
         "option": {}
       }
     }     
   %domain%.json: |-
     {
       "anchoring": {
         "type": "%anchoring%",
         "option": {
           %anchoringEndPoint%
         },
         "commands": {
           "addAnchor": "anchor"
         }
       }
     }
   %subdomain%.json: |-
     {
       "anchoring": {
         "type": "FS",
         "option": {
           "enableBricksLedger": false
         },
         "commands": {
           "addAnchor": "anchor"
         }
       }
     }
   %vaultdomain%.json: |-
     {
       "anchoring": {
         "type": "FS",
         "option": {
           "enableBricksLedger": false
         },
         "commands": {
           "addAnchor": "anchor"
         }
       }
     }
