:root {
    --olivegreen: #013646;
    --mintgreen: #61E4A3;
    --beige: #FDF0EC;
    --grey: #E1E7EF;
    --green-200: #5F0808;
    --red-200: #CC2A2A;
    --red-100: #FEEFEE;
    --yellow-200: #FFCB45;
    --yellow-100: #FFECBB;
}

/* dm-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-500 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans semi-bold';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans bold';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    padding: 0;
    max-width: 414px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    font-family: "DM Sans";
}

.loader {
    border: 16px solid var(--olivegreen);
    border-top: 16px solid var(--grey);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    top: 38%;
    left: calc(50% - 35px);
    position: absolute;
    z-index: 200;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page-header {
    padding: 0px 35px;
    font-size: 2.5vh;
}

.page-container {
    background: var(--olivegreen);
    color: #fff;
    padding: 0px 35px;
    border-radius: 30px;
    align-self: center;
    max-height: 960px;
    width: 414px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


.icon-container {
    background: url(../images/app-icon.svg) no-repeat center;
    height: 13.5%;
    background-size: 25%;
}

.welcome-container {
    align-self: center;
    font-weight: 700;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 1.5em;
    font-size: calc(100% + 0.8vmin);
    max-height: 86%;
}

.terms-content-container {
    height: 100%;
}

.extra-text {
    padding: 0 24px 15px;
}

.terms-container {
    max-height: 60vh;
    height: 100%;
    overflow: auto;
    background: #F0EEEC;
    border-radius: 20px;
    margin-top: 30px;
    color: #516266;
    padding: 24px 0;
    text-align: justify;
    position: relative;
    display: flex;
    flex-direction: column;
}

.terms-container span {
    flex-grow: 1;
}

.terms-container .terms-buttons-container {
    display: flex;
}

.menu-icon {
    background: url(../images/new-menu-icon.svg) no-repeat;
    width: 8%;
    aspect-ratio: 1/1;
    background-size: contain;
    position: relative;
    float: right;
    top: 40%;

}

.terms-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 1em;
    border: 1px solid #516266;
    border-radius: 62px;
    flex-grow: 1;
    margin: 0px 1em;
}

.terms-button.agree {
    background: var(--olivegreen);
    color: white;
}

.app-menu-container {
    border-radius: 14px;
    background: #fff;
    color: #667085;
    position: absolute;
    width: calc(100% - 70px);
    z-index: 10;
    text-align: left;
    padding: 5px 0px;
    top: 10%;
    font-size: 1.2rem;
    box-shadow: 0px 15px 20px rgba(28, 34, 40, 0.3);
}

/*.app-menu-container:after {
    border: 0.8em solid transparent;
    border-top-color: #fff;
    content: '';
    position: inherit;
    width: 0;
    height: 0;
    bottom: -18%;
    left: 47%;
}*/

.app-menu-container > div {
    margin: 2% 3%;
}

.app-menu-container.hidden {
    display: none;
}

.hiddenElement {
    display: none;
}

@keyframes animatedBackground {
    0% {
        background-position: 15% 97%;
    }
    100% {
        background-position: 75% 0;
    }
}

@keyframes animatedIcon {
    0% {
        background-image: url(../images/good-icon.svg);
    }
    55% {
        background-image: url(../images/wrong-icon.svg);
    }
}

.content-container {
    align-self: center;
    background-image: url(../images/medicine-pack.png);
    max-width: 55%;
    width: -webkit-fill-available;
    aspect-ratio: 1 / 1;
    background-position: 15% 97%;
    background-repeat: no-repeat;
    transition: 1s auto;
    background-size: 220% 115%;
    animation: animatedBackground 5s linear infinite;
    -moz-animation: animatedBackground 5s linear infinite;
    -webkit-animation: animatedBackground 5s linear infinite;
    -ms-animation: animatedBackground 5s linear infinite;
    -o-animation: animatedBackground 5s linear infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    margin: 12% auto 6%;
    border-radius: 15px;
}

.icon-div {
    position: relative;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    animation: animatedIcon 5s steps(1, end) infinite;
    -moz-animation: animatedIcon 5s steps(1, end) infinite;
    -webkit-animation: animatedIcon 5s steps(1, end) infinite;
    -ms-animation: animatedIcon 5s steps(1, end) infinite;
    -o-animation: animatedIcon 5s steps(1, end) infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    background-image: url(../images/good-icon.svg);
    background-size: contain;
    float: right;
}

.explain-container {
    align-self: center;
    text-align: center;
    font-size: calc(100% + 0.1vmin);
}

.scan-button-container {
    flex-grow: 1;
}

.scan-button {
    color: #02272F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: var(--mintgreen);
    border-radius: 80px;
    position: relative;
    font-weight: 700;
    font-size: calc(100% + 0.8vmin);
    height: 6vh;
    margin: 100% auto 0px;
    text-align: center;
}

.page-container.scan-page, .page-container.leaflet-page {
    padding: 0px;
    justify-content: normal;
}

.page-container.scan-page {
    background: #000;
}

.scan-header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: end;
    font-weight: 500;
    font-style: normal;
    font-size: calc(100% + 0.1vmin);
}

.scan-page #scanner-placeholder {
    overflow: hidden;
    position: relative !important;
    max-width: 414px;
    height: 90%;
}


.scan-cancel, .camera-switch {
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
}

#scan-error {
    top: calc((100% - 960px) / 2);
}

.page-container.error-page {
    padding: 0px;
    background: #fff;
}

.page-container.error-page .page-header {
    background: var(--green-200);
    border-radius: 25px 25px 0px 0px;
}

.page-container.error-page .page-header .header-title:after {
    content: "";
    position: absolute;
    background: url(./../images/error-icon.svg) no-repeat;
    width: 7%;
    height: 4%;
    background-size: contain !important;
    background-position: center !important;
    margin-left: 10px;
}

.leaflet-page .page-header, .error-page .page-header {
    display: flex;
    flex-direction: column;
    height: 12%;
    justify-content: center;
}

.leaflet-page .page-content, .error-page .page-content {
    height: 88%;
    position: relative;
    color: #04313B;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#leaflet-content,
#leaflet-content .select-lang-text,
#leaflet-content .languages-list {
    font-size: calc(100% + 0.8vmin);
}

#leaflet-content .select-lang-text {
    padding: 35px;
}

#leaflet-content .languages-list li {
    text-underline-position: under;
    text-decoration: underline;
    padding: 0px 0px 55px 0px;
    color: blue;
}

#leaflet-content h5 {
    font-weight: normal;
    font-size: 110%;
    margin-right: 1rem;
}


#leaflet-content {
    text-align: start;
    overflow-y: auto;
    height: 100%;
    height: 95%;
}

#leaflet-content table {
    display: block;
    overflow-x: auto;
}

#leaflet-content img {
    width: 100%;
}

.leaflet-link {
    color: #4f4edf;;
    text-decoration: underline;
}

.leaflet-page .scan-button, .error-page .scan-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    right: 35px;
    background: #61E4A3;
    box-shadow: -1px 8px 24px rgba(0, 0, 0, 0.16);
    border-radius: 62px;
    color: #02272F;
    font-weight: 700;
    font-style: normal;
    bottom: 15px;
    width: 128px;
    height: 40px;
    font-size: 14px;
}

.error-page .page-content {
    padding: 0px 35px;
}

.leaflet-accordion-item {
    padding: 0px 35px;
    border-bottom: 1px solid #E5EAEB;
}

.leaflet-accordion-item h5 {
    margin-block-end: 1em;
    margin-block-start: 1em;
}

.leaflet-accordion-item-content {
    display: none;
    margin-right: 5px;
    height: fit-content;
}

.leaflet-accordion-item.active .leaflet-accordion-item-content {
    height: fit-content;
    display: block;
    position: relative;
    font-style: normal;
    font-weight: normal;
}

.leaflet-accordion-item:before {
    content: "";
    margin-right: -20px;
    visibility: visible;
    position: relative;
    float: right;
    width: 7%;
    height: 4%;
    background-image: url(../images/accordion-open.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.leaflet-accordion-item.active:before {
    background-image: url("../images/accordion-close.svg");
}

.leaflet-accordion-item table,
.leaflet-accordion-item table td,
.leaflet-accordion-item table th {
    border: 1px solid;
    border-collapse: collapse;
    font-size: inherit;

}

.leaflet-accordion-item td, th {
    padding: 15px;
    width: 100%;
    height: 100%;
}

.modal-container {
    position: absolute;
    display: none !important;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    z-index: 100;
    max-width: 414px;
    max-height: 960px;
    border-radius: 30px;
}


.modal-header .modal-title {
    font-size: 1.5vh;
    margin-top: 3px;
    margin-left: 52px;
    padding-right: 52px;
}

.modal-header .modal-icon {
    background: url(./../images/warning-icon.svg) no-repeat;
    position: relative;
    height: 21px;
    top: 24px;
    left: 24px;
}

.modal-header .close-modal {
    position: absolute;
    background: url(./../images/close-modal.svg) no-repeat center;
    background-size: contain;
    height: 20px;
    width: 20px;
    right: 24px;
    top: 21px;
}

.info-modal .modal-header {
    background-color: var(--mintgreen);

}

.warning-modal .modal-header {
    background-color: var(--yellow-200);
}

.error-modal .modal-header {
    background-color: var(--red-200);
}

.modal-content {
    background: #fff;
    position: relative;
    overflow: auto;
    color: #04313B;
    min-height: 354px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 24px;
    line-height: 1.5rem;
    max-height: 650px;
}

.modal-content.terms,
.modal-content.privacy {
    padding: 0;
}

.modal-content .languages-container {
    overflow: hidden;
}

.modal-content .languages-container .language-item-container {
    font-weight: 500;
    border: 0.5px solid #D0D5DD;
    font-size: 2.5vh;
    padding: 8px 10px 0px;
    line-height: 1;
    margin-bottom: 10px;
}

.flag-label-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.modal-content .languages-container .language-item-container .language-flag {
    vertical-align: baseline;
    width: 10%;
    top: 5px;
    position: relative;
    margin-right: 5px;
    border-radius: 8px;
}


/*.scan-page .modal-container {
    height: 90%;
}*/

.leaflet-page .product-description, .error-page .header-subtitle {
    font-size: 2.5vh;
}

.modal-container .modal-body {
    margin: 0px 12px;
    position: relative;
}

.modal-header {
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    height: 96px;
    color: #02272F;
    padding-bottom: 15px;
}

.modal-header .modal-subtitle {
    font-size: 2.5vh;
    font-weight: 700;
    left: 24px;
    position: relative;
    margin-top: 5px;
}

.modal-content .text-section {
    padding-bottom: 24px;
    font-size: 2vh;
    font-weight: 500;
    text-align: justify;
}

.modal-content .languages-container .language-item-container input {
    left: 0px;
    width: 10%;
    position: relative;
    height: 16px;
    margin-left: 90%;
    top: -23px;
}


.proceed-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 56px;
    margin-top: 16px;
    background: var(--olivegreen);
    border-radius: 62px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}


.go-back-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #516266;
    margin-top: 24px;
}

@media only screen and (max-device-width: 900px) {
    body, .page-container {
        background: var(--olivegreen);
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
    }

    .icon-div {
        top: -48px;
        right: -48px;
        width: 96px;
        height: 96px;
    }

    .welcome-container {
        font-size: 3vh;
    }

    .scan-button {
        font-size: 2.5vh;
        height: 7vh;
        margin: 60% auto 0px;
    }

    .app-options-container {
        margin: 10% auto;
        font-size: 1.8vh;
        width: 75%;
    }

    .app-menu-container {
        font-size: 2.2vh;
    }

    .app-menu-container:after {
        border: 0.5em solid transparent;
        border-top-color: #fff;
        content: '';
        position: inherit;
        width: 0;
        height: 0;
        bottom: -15%;
        left: 47%;
    }

    .content-container {
        border-radius: 47px;
    }

    .explain-container {
        font-size: 2.2vh;
    }

    .scan-header {
        font-size: 2vh;
    }

    .scan-page #scanner-placeholder {
        height: 90%;
        max-width: 100%;
    }

    #scan-error {
        top: 0px;
    }

    #scanner-placeholder canvas#scene {
        width: 200%;
        height: 200%;
    }

    #scanner-placeholder canvas#overlay {
        width: 200%;
        height: 200%;
        top: -10%;
        left: 0%;
        transform: translate(-30%, 10%);
    }

    .page-container.error-page .page-header .header-title:after {
        margin-left: 1.5rem;
    }

    .leaflet-page .product-name, .error-page .header-title {
        font-size: 4vh;
        font-weight: 700;
    }

    .leaflet-page .product-description, .error-page .header-subtitle, .error-page .page-content {
        font-size: 2vh;
    }

    #leaflet-content,
    #leaflet-content .select-lang-text,
    #leaflet-content .languages-list {
        font-size: calc(100% + 2.5vmin);
    }

    #leaflet-content h5 {
        margin-right: 4rem;
    }

    .leaflet-accordion-item table,
    .leaflet-accordion-item table td,
    .leaflet-accordion-item table th {
        font-size: 100%;
    }

    #leaflet-content .languages-list {
        margin: 0px 35px;
    }

    .leaflet-page .scan-button, .error-page .scan-button {
        bottom: 3%;
        width: 30%;
        height: 5%;
        font-size: 1.5vh;
    }

    .modal-container {
        top: 0px;
        max-width: 100%;
        max-height: 100%;
        position: fixed;
    }

    .modal-container .modal-body {
        border-radius: 25px;
        margin: 50% 3% 0px;
        position: relative;
        height: 75%;
    }

    .modal-header {
        border-top-right-radius: 64px;
        border-top-left-radius: 64px;
        min-height: 11%;
        padding-bottom: 3%;
        height: auto;
    }

    .modal-header .modal-icon {
        background-size: contain !important;
        height: 4%;
        left: 5%;
    }

    .modal-header .modal-title {
        font-size: 2vh;
        margin-left: 13%;
        padding-right: 13%;
        margin-top: -24px;
    }

    .modal-header .modal-subtitle {
        left: 7%;
        position: relative;
        font-size: 3vh;
        font-weight: 700;
    }

    .modal-header .close-modal {
        height: 3%;
        width: 5%;
        right: 5%;
        top: 3%;
    }

    .modal-content {
        border-bottom-right-radius: 64px;
        border-bottom-left-radius: 64px;
        padding: 7%;
        line-height: 3vh;
        max-height: 65%;
        min-height: 42%;
        font-size: 3vh;
    }

    .modal-content .text-section {
        font-size: 65%;
        font-weight: 500;
        text-align: justify;
        padding-bottom: 7%;
    }

    .modal-content .languages-container .language-item-container .language-flag {
        top: 16px;
        margin-left: 10px;
    }

    .modal-content .languages-container .language-item-container {
        margin-bottom: 2%;
        border-radius: 16px;
    }

    .modal-content .languages-container .language-item-container input {
        left: 0px;
        width: 10%;
        position: relative;
        height: 36px;
        margin-left: 90%;
        top: -43px;
    }

    .proceed-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        gap: 3%;
        height: 6%;
        margin-top: 4%;
        background: var(--olivegreen);
        border-radius: 62px;
        color: #fff;
        font-size: 2vh;
        font-weight: 700;
    }

    .go-back-button {
        font-weight: 700;
        font-size: 1.5vh;
        line-height: 140%;
        text-align: center;
        color: #516266;
        margin-top: 8%;
    }
}

@media only screen and (orientation: landscape) {
    body {
        min-height: 1000px;
        width: 100%;
        max-width: 414px;
        margin: auto;
    }
}
