:root {
    --olivegreen: #013646;
    --mintgreen: #61E4A3;
    --beige: #FDF0EC;
    --grey: #E1E7EF;
    --green-200: #5F0808;
    --red-200: #CC2A2A;
    --red-100: #FEEFEE;
    --yellow-200: #FFCB45;
    --yellow-100: #FFECBB;
}

/* dm-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-500 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media only screen and (min-device-width: 900px) and (max-device-width: 3000px) {
    body {
        padding: 0;
        max-width: 414px;
        margin-right: auto;
        margin-left: auto;
        background-image: url("./../images/background.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
    }

    .page-container {
        align-self: center;
        max-height: 960px;
        width: 414px;
    }

    .welcome-container, .scan-button-container {
        font-size: 18px;
    }

    .scan-button-container {
        height: 6%;
        margin: 70% auto 0 auto;
    }

    .content-container {
        border-radius: 15px;
    }

    .explain-container {
        font-size: 15px;
    }

    .scan-header {
        font-size: 14px;
    }

    .scan-page .modal-container {
        height: 85%;
    }

    .scan-page #scanner-placeholder {
        max-width: 414px;
        height: 90%;
    }

    .page-header {
        font-size: 2rem;
    }


    .leaflet-page .product-description, .error-page .header-subtitle {
        font-size: 1rem;
    }

    .page-container.error-page .page-header .header-title:after {
        margin-left: 10px;
    }

    #leaflet-content {
        font-size: 0.7rem;
    }

    .leaflet-accordion-item {
        line-height: 1.5rem;
    }

    .leaflet-accordion-item:before {
        font-size: 1.5rem;
    }

    #leaflet-content h5,
    #leaflet-content .select-lang-text,
    #leaflet-content .languages-list {
        font-size: 1rem;
    }

    .leaflet-accordion-item.active .leaflet-accordion-item-content {
        line-height: 1.5rem;
    }

    .leaflet-page .scan-button, .error-page .scan-button {
        bottom: 35px;
        width: 128px;
        height: 40px;
        font-size: 14px;
    }

    .modal-container {
        max-width: 414px;
    }

    .modal-container .modal-body {
        margin: 0px 12px;
        position: relative;
    }

    .modal-header {
        border-top-right-radius: 32px;
        border-top-left-radius: 32px;
        height: 96px;
    }

    .warning-modal .modal-header {
        background-color: var(--yellow-200);
    }

    .error-modal .modal-header {
        background-color: var(--red-200);
    }

    .modal-header .modal-icon {
        height: 21px;
        top: 24px;
        left: 24px;
    }

    .modal-header .modal-title {
        font-size: 14px;
        left: 52px;
        margin-top: 3px;
    }

    .modal-header .modal-subtitle {
        font-size: 20px;
        font-weight: 700;
        left: 24px;
        position: relative;
        margin-top: 5px;
    }

    .modal-header .close-modal {
        height: 20px;
        width: 20px;
        right: 24px;
        top: 21px;
    }

    .modal-content {
        min-height: 354px;
        border-bottom-right-radius: 32px;
        border-bottom-left-radius: 32px;
        padding: 24px;
        line-height: 1.5rem;
        max-height: 650px;
    }

    .modal-content .text-section {
        padding-bottom: 24px;
        font-size: 14px;
        line-height: 155%;
        font-weight: 500;
        text-align: justify-all;
    }

    .modal-content .languages-container .language-item-container {
        padding: 10px 14px 0px;
        border-radius: 8px;
        font-size: 14px;
        margin-bottom: 8px;;
    }

    .modal-content .languages-container .language-item-container input {
        left: 0px;
        width: 100%;
        position: relative;
        height: 16px;
        margin-left: 45%;

        top: -23px;
    }

    .modal-content .languages-container .language-item-container .language-flag {
        width: 24px;
        border-radius: 50%;
        top: 7px;
        position: relative;
    }

    .proceed-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 10px;
        height: 56px;
        margin-top: 16px;
        background: var(--olivegreen);
        border-radius: 62px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

    .go-back-button {
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #516266;
        margin-top: 24px;
    }
}


@media only screen and (max-device-width: 900px) {
    body {
        background: var(--olivegreen);
    }

    .welcome-container {
        font-size: 3rem;
    }

    .scan-button-container {
        font-size: 2.5rem;
        height: 7%;
        margin: 30% auto 0 auto;
    }

    .content-container {
        border-radius: 47px;
    }

    .explain-container {
        font-size: 2.2rem;
    }

    .scan-header {
        font-size: 2rem;
    }

    #scanner-placeholder {
        height: 90%;
    }

    #scanner-placeholder canvas#scene {
        width: 200%;
        height: 200%;
    }

    #scanner-placeholder canvas#overlay {
        width: 200%;
        height: 200%;
        top: -10%;
        left: 0%;
        transform: translate(-30%, 10%);
    }

    .page-container.error-page .page-header .header-title:after {
        margin-left: 1.5rem;
    }

    .leaflet-page .product-name, .error-page .header-title {
        font-size: 4rem;
        font-weight: 700;
    }

    .leaflet-page .product-description, .error-page .header-subtitle, .error-page .page-content {
        font-size: 2rem;
    }

    #leaflet-content {
        font-size: 2rem;
    }

    .leaflet-accordion-item {
        line-height: 5rem;
    }

    .leaflet-accordion-item:before {
        font-size: 3.5rem;
    }

    #leaflet-content h5 {
        font-size: 1rem;
        padding: 5px;
    }

    #leaflet-content .languages-list {
        margin: 0px 35px;
    }

    .leaflet-accordion-item.active .leaflet-accordion-item-content {
        line-height: 2.5rem;
    }

    .leaflet-page .scan-button, .error-page .scan-button {
        bottom: 5%;
        width: 30%;
        height: 5%;
        font-size: 2rem;
    }

    .modal-container {
        top: 0px;
    }

    .modal-container .modal-body {
        border-radius: 25px;
        margin: 0px 3%;
        position: relative;
        height: 70%;

    }

    .modal-header {
        border-top-right-radius: 64px;
        border-top-left-radius: 64px;
        height: 11%;
        padding-bottom: 3%;
    }

    .warning-modal .modal-header {
        background-color: var(--yellow-200);
    }

    .error-modal .modal-header {
        background-color: var(--red-200);
    }

    .modal-header .modal-icon {
        top: 25%;
        background-size: contain !important;
        height: 25%;
        width: 7%;
        left: 7%;
    }

    .modal-header .modal-title {
        font-size: 2rem;
        left: 12%;
    }

    .modal-header .modal-subtitle {
        left: 7%;
        position: relative;
        font-size: 3rem;
        font-weight: 700;
    }

    .modal-header .close-modal {
        height: 3%;
        width: 5%;
        right: 5%;
        top: 3%;
    }

    .modal-content {
        border-bottom-right-radius: 64px;
        border-bottom-left-radius: 64px;
        padding: 7%;
        line-height: 3rem;
        max-height: 65%;
        min-height: 42%;
        font-size: 1.5rem;
    }

    .modal-content .text-section {
        font-size: 1.5rem;
        line-height: 155%;
        font-weight: 500;
        text-align: justify;
        padding-bottom: 7%;
    }

    .modal-content .languages-container .language-item-container {
        font-size: 1.5rem;
        padding: 20px 28px;
        margin-bottom: 2%;
        border-radius: 16px;
        height: 3%;
    }

    .modal-content .languages-container .language-item-container .language-flag {
        width: 24px;
        height: 24px;
    }

    .modal-content .languages-container .language-item-container label {
        font-size: 1.7rem;
    }

    .modal-content .languages-container .language-item-container input {
        left: 0px;
        width: 100%;
        position: relative;
        height: 65%;
        top: -100%;
        margin-left: 45%;
    }

    .proceed-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        gap: 3%;
        height: 6%;
        margin-top: 4%;
        background: var(--olivegreen);
        border-radius: 62px;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .go-back-button {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 140%;
        text-align: center;
        color: #516266;
        margin-top: 8%;
    }
}

@media only screen and (orientation: landscape) {
    body {
        min-height: 1000px;
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
}

body {
    font-family: "DM Sans";
}

.loader {
    border: 16px solid var(--olivegreen);
    border-top: 16px solid var(--grey);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    top: 38%;
    left:  calc(50% - 35px);
    position: absolute;
    z-index: 200;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.page-header {
    padding: 0px 35px;
}

.page-container {
    background: var(--olivegreen);
    color: #fff;
    height: 100%;
    padding: 0px 35px;
    border-radius: 25px;
}

.icon-container {
    background: url(../images/app-icon.svg) no-repeat center;
    height: 13.5%;
    background-size: 25%;
}

.welcome-container {
    align-self: center;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 27px;
}

@keyframes animatedBackground {
    0% {
        background-position: 15% 97%;
    }
    100% {
        background-position: 75% 0;
    }
}

@keyframes animatedIcon {
    0% {
        background-image: url(../images/good-icon.svg);
    }
    55% {
        background-image: url(../images/wrong-icon.svg);
    }
}

.content-container {
    align-self: center;
    background-image: url(../images/medicine-pack.png);
    width: 62%;
    aspect-ratio: 1 / 1;
    background-position: 15% 97%;
    background-repeat: no-repeat;
    transition: 1s auto;
    background-size: 220% 115%;
    animation: animatedBackground 5s linear infinite;
    -moz-animation: animatedBackground 5s linear infinite;
    -webkit-animation: animatedBackground 5s linear infinite;
    -ms-animation: animatedBackground 5s linear infinite;
    -o-animation: animatedBackground 5s linear infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    margin-top: 12%;
    margin-bottom: 6%;
    margin-left: auto;
    margin-right: auto;
}

.icon-div {
    position: relative;
    top: -32px;
    right: -32px;
    width: 64px;
    height: 64px;
    animation: animatedIcon 5s steps(1, end) infinite;
    -moz-animation: animatedIcon 5s steps(1, end) infinite;
    -webkit-animation: animatedIcon 5s steps(1, end) infinite;
    -ms-animation: animatedIcon 5s steps(1, end) infinite;
    -o-animation: animatedIcon 5s steps(1, end) infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    background-image: url(../images/good-icon.svg);
    float: right;
}

.explain-container {
    align-self: center;
    text-align: center;
}

.scan-button-container {
    color: #02272F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: var(--mintgreen);
    border-radius: 80px;
    position: relative;
    font-width: 700;
}

.page-container.scan-page, .page-container.leaflet-page {
    padding: 0px;
    justify-content: normal;
}

.page-container.scan-page {
    background: #000;
}

.scan-header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: end;
    font-weight: 500;
    font-style: normal;
}

.scan-page #scanner-placeholder {
    overflow: hidden;
    position: relative !important;
}


.scan-cancel, .camera-switch {
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
}

.page-container.error-page {
    padding: 0px;
    background: #fff;
}

.page-container.error-page .page-header {
    background: var(--green-200);
    border-radius: 25px 25px 0px 0px;
}

.page-container.error-page .page-header .header-title:after {
    content: "";
    position: absolute;
    background: url(./../images/error-icon.svg) no-repeat;
    width: 7%;
    height: 4%;
    background-size: contain !important;
    background-position: center !important;
}

.leaflet-page .page-header, .error-page .page-header {
    display: flex;
    flex-direction: column;
    height: 12%;
    justify-content: center;
}

.leaflet-page .page-content, .error-page .page-content {
    height: 88%;
    position: relative;
    color: #04313B;
    background: #fff;
}

#leaflet-content .select-lang-text {
    padding: 35px;
}

#leaflet-content .languages-list li {
    text-underline-position: under;
    text-decoration: underline;
    padding: 0px 0px 55px 0px;
    color: blue;
}

#leaflet-content h5 {
    font-weight: normal;
}


#leaflet-content {
    text-align: start;
    overflow-y: auto;
    height: 100%;
}

#leaflet-content table {
    display: block;
    overflow-x: auto;
}

#leaflet-content img {
    width: 100%;
}

.leaflet-link {
    color: #4f4edf;;
    text-decoration: underline;
}

.leaflet-page .scan-button, .error-page .scan-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    right: 35px;
    background: #61E4A3;
    box-shadow: -1px 8px 24px rgba(0, 0, 0, 0.16);
    border-radius: 62px;
    color: #02272F;
    font-weight: 700;
    font-style: normal;
}

.error-page .page-content {
    padding: 0px 35px;
}

.leaflet-accordion-item {
    padding: 0px 35px;
    border-bottom: 1px solid #E5EAEB;
}

.leaflet-accordion-item h5 {
    margin-block-end: 1em;
    margin-block-start: 1em;
}

.leaflet-accordion-item-content {
    display: none;
    margin-right: 5px;
    font-size: 1rem;
    height: fit-content;
}

.leaflet-accordion-item.active .leaflet-accordion-item-content {
    height: fit-content;
    display: block;
    font-size: 0.85rem;
    position: relative;
    font-style: normal;
    font-weight: normal;
}

.leaflet-accordion-item:before {
    content: "\002b";;
    margin-right: 5px;
    visibility: visible;
    right: 0px;
    position: relative;
    float: right;
}

.leaflet-accordion-item.active:before {
    content: '\2212';
}

.modal-container {
    position: fixed;
    display: none !important;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}


.modal-header .modal-title {
    position: relative;
}

.modal-header .modal-icon {
    background: url(./../images/warning-icon.svg) no-repeat;
    position: relative;
}

.modal-header .close-modal {
    background: url(./../images/close-modal.svg) no-repeat;
    position: absolute;
    background-position: center;
    background-size: contain;
}

.modal-content {
    background: #fff;
    position: relative;
    overflow: auto;
    color: #04313B;
}

.modal-content .languages-container {
    overflow: hidden;
}

.modal-content .languages-container .language-item-container {
    font-weight: 500;
    border: 0.5px solid #D0D5DD;
}
