:root {
    --olivegreen: #013646;
    --mintgreen: #61E4A3;
    --beige: #FDF0EC;
    --grey: #E1E7EF;
    --info-grey: #F0EEEC;
    --green-200: #5F0808;
    --red-200: #CC2A2A;
    --red-100: #FEEFEE;
    --yellow-200: #FFCB45;
    --yellow-100: #FFECBB;
}

/* dm-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff2') format('woff2'), url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff') format('woff'),
    url('../fonts/DMSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* dm-sans-500 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans semi-bold';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-500.woff') format('woff'),
    url('../fonts/DMSans-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans bold';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/dm-sans-v11-latin-ext_latin-700.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('../fonts/DMSans-Bold.ttf') format('truetype'); /* Safari, Android, iOS */

}

body {
    padding: 0;
    width: 24%;
    min-width: 435px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    font-family: "DM Sans";
}

b {
    font-family: "DM Sans bold";
}

.loader {
    border: 16px solid var(--olivegreen);
    border-top: 16px solid var(--grey);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    top: 38%;
    left: calc(50% - 51px);
    position: absolute;
    z-index: 200;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page-header {
    padding: 0px 35px;
}

.page-container {
    background: var(--olivegreen);
    color: #fff;
    border-radius: 30px;
    align-self: center;
    max-height: 94%;
    min-height: 960px;
    width: 100%;
    height: min(100vh, 1000px);
    display: flex;
    flex-direction: column;
    position: relative;
}


.icon-container {
    /*background: url(../images/app-icon.svg) no-repeat center;*/
    height: 13.5%;
    background-size: 25%;
}

.pharmaledger-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130px;
}

.pharmaledger-logo > img {
    width: 25%;
}

.welcome-container {
    align-self: center;
    font-family: 'DM Sans bold';
    height: auto;
    text-align: center;
    line-height: 1.5em;
    font-size: calc(100% + 0.8vmin);
    padding-bottom: 14px;
    margin: 0 35px;
}

.welcome-container h1 {
    font-size: inherit;
    margin: 0;
}

.terms-content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 70%;
    margin: 0 35px 24px;
    font-size: calc(100% + 0.1vmin);
}

.extra-text {
    padding: 24px 24px 15px;
}

.terms-content {
    padding: 0px 24px;
}

.terms-container {
    height: 100%;
    overflow: auto;
    background: #F0EEEC;
    border-radius: 20px;
    color: #516266;
    text-align: justify;
    position: relative;
    display: flex;
    flex-direction: column;
}

.terms-container span {
    flex-grow: 1;
}

.terms-container .terms-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.menu-icon {
    background: url(../images/new-menu-icon.svg) no-repeat;
    width: 8%;
    aspect-ratio: 1/1;
    background-size: contain;
    position: absolute;
    float: right;
    top: 5%;
    right: 7%;
    border: 0;
}

.scan-button.terms-button {
    border: 1px solid #516266;
    position: relative;
    bottom: 0;
    right: 0;
    padding: 1vh 2vh;
}

.terms-button.agree {
    background: var(--olivegreen);
    color: white;
}

.terms-button.disagree {
    background: transparent;
}

.app-menu-container {
    border-radius: 14px 0px 14px 14px;
    background: #fff;
    color: var(--olivegreen);
    position: absolute;
    width: calc(100% - 70px);
    z-index: 10;
    text-align: left;
    padding: 5px 0px;
    top: calc(7% + 10px);
    font-size: 1.2rem;
    box-shadow: 0px 15px 20px rgba(28, 34, 40, 0.3);
    list-style-type: none;
}

.app-menu-container:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 0px;
    top: -19px;
}


.app-menu-container > div {
    margin: 5% 4%;
}

.forward-to-page {
    display: flex;
    justify-content: space-between;
    margin: 6%;
}

.more-options-link {
    margin: 6%;
}

.forward-to-page .label {
    flex-grow: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forward-to-page .label:hover {
    border-top: 1px solid var(--info-grey);
    border-bottom: 1px solid var(--info-grey);
}

.forward-to-page .fwd-icon {
    width: 0.7vh;
    background: url("../images/right-arrow-icon.svg") no-repeat center;
    background-size: contain;
}

.app-menu-container.hidden {
    display: none;
}

.hiddenElement {
    display: none !important;
}

@keyframes animatedBackground {
    0% {
        background-position: 15% 97%;
    }
    100% {
        background-position: 75% 0;
    }
}

@keyframes animatedIcon {
    0% {
        background-image: url(../images/good-icon.svg);
    }
    55% {
        background-image: url(../images/wrong-icon.svg);
    }
}

.content-container {
    align-self: center;
    background-image: url(../images/medicine-pack.png);
    max-width: 75%;
    width: -webkit-fill-available;
    aspect-ratio: 1 / 1;
    background-position: 15% 97%;
    background-repeat: no-repeat;
    transition: 1s auto;
    background-size: 220% 115%;
    animation: animatedBackground 5s linear infinite;
    -moz-animation: animatedBackground 5s linear infinite;
    -webkit-animation: animatedBackground 5s linear infinite;
    -ms-animation: animatedBackground 5s linear infinite;
    -o-animation: animatedBackground 5s linear infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    margin: 12% 90px 6%;
    border-radius: 15px;
}

.icon-div {
    position: relative;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    animation: animatedIcon 5s steps(1, end) infinite;
    -moz-animation: animatedIcon 5s steps(1, end) infinite;
    -webkit-animation: animatedIcon 5s steps(1, end) infinite;
    -ms-animation: animatedIcon 5s steps(1, end) infinite;
    -o-animation: animatedIcon 5s steps(1, end) infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    background-image: url(../images/good-icon.svg);
    background-size: contain;
    float: right;
    background-repeat: no-repeat;
}

.explain-container {
    align-self: center;
    text-align: center;
    font-size: calc(100% + 0.1vmin);
    margin: 0 35px;
}

.scan-button-container {
    flex-grow: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 75%;
    align-self: center;
    position: relative;
    justify-content: end;
    padding-bottom: 20%;
}

.scan-button {
    color: var(--olivegreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: var(--mintgreen);
    box-shadow: -1px 8px 24px rgba(0, 0, 0, 0.16);
    border-radius: 5vh;
    border: 0;
    font-family: 'DM Sans bold';
    font-size: 2vh;
    text-align: center;
    position: absolute;
    right: 4vh;
    padding: 1vh 4vh;
}

.scan-button.go-home-button {
    bottom: 2vh;
}

.scan-button.full_width {
    position: relative;
    right: 0;
    padding: 2vh 10px;
}

.page-container.scan-page, .page-container.leaflet-page {
    padding: 0px;
    justify-content: normal;
}

.page-container.scan-page {
    background: #000;
}

.scan-header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: end;
    font-family: 'DM Sans semi-bold';
    font-size: calc(100% + 0.1vmin);
}

.scan-page #scanner-placeholder {
    overflow: hidden;
    position: relative !important;
    height: 90%;
}


.scan-cancel, .camera-switch {
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
    background: transparent;
    color: white;
    border: 0;
    font-family: 'DM Sans semi-bold';
    font-size: 1em;
}

.page-container.error-page {
    padding: 0px;
    background: #fff;
}

.page-container.error-page .page-header {
    background: var(--green-200);
}

.leaflet-page .page-header, .error-page .page-header {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
}

.leaflet-page .page-content, .error-page .page-content {
    height: 86%;
    position: relative;
    color: #04313B;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: calc(100% + 0.3vmin);
}

/*#leaflet-content,
#leaflet-content .select-lang-text,
#leaflet-content .languages-list {
    font-size: calc(100% + 0.3vmin);
}*/

#leaflet-content .select-lang-text {
    padding: 35px;
}

#leaflet-content .languages-list li {
    text-underline-position: under;
    text-decoration: underline;
    padding: 0px 0px 55px 0px;
    color: blue;
}

#leaflet-content h2 {
    font-family: 'DM Sans bold';
    font-size: 100%;
    margin-right: 1rem;
}

.leaflet-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#leaflet-content {
    text-align: start;
    overflow-y: auto;
    position: absolute;
    height: 88%;
    width: 100%;
}

#leaflet-content table {
    display: block;
    overflow-x: auto;
}

/* Force hidden content for images because xslt rule not working for safari < 16. */
#leaflet-content figure *:not(img) {
    display: none;
}

#leaflet-content img {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.leaflet-link {
    color: #4f4edf;;
    text-decoration: underline;
}

.error-page .page-content {
    padding: 0px 1.5vh;
}

.leaflet-accordion-item {
    padding: 0px 1vh;
    border-bottom: 1px solid #E5EAEB;
}

.leaflet-accordion-item h5 {
    margin-block-end: 1em;
    margin-block-start: 1em;
}

.leaflet-accordion-item-content {
    display: none;
    margin-right: 5px;
    height: fit-content;
}

.leaflet-accordion-item.active .leaflet-accordion-item-content {
    height: fit-content;
    display: block;
    position: relative;
    font-style: normal;
    font-family: 'DM Sans';
}

.leaflet-accordion-item:before {
    content: "";
    visibility: visible;
    position: relative;
    float: right;
    width: 7%;
    height: 5%;
    background-image: url(../images/accordion-open.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    top: 2px;
}

.leaflet-accordion-item.active:before {
    background-image: url("../images/accordion-close.svg");
}

.leaflet-accordion-item table,
.leaflet-accordion-item table td,
.leaflet-accordion-item table th {
    border: 1px solid;
    border-collapse: collapse;
    font-size: inherit;

}

.leaflet-accordion-item td, th {
    padding: 15px;
    width: 100%;
    height: 100%;
}

.modal-container .modal-body {
    margin: 0px 12px;
    position: relative;
}

.modal-header.centered-header {
    height: 18vh;
    position: relative;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #02272F;
}

.modal-header.left-aligned-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px 30px 0px 0px;
    height: fit-content;
    padding: 2.5rem 1.5rem;
    min-height: 7%;
    height: fit-content;
}

.modal-header.centered-header .icon-title-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 8px;
    padding-top: 1vh;
}

.modal-header.left-aligned-header .icon-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fill-available;
    position: relative;
}

.leaflet-page .product-name,
.modal-header .header-title,
.modal-header .modal-title {
    font-size: calc(100% + 1.7vh);
    font-family: 'DM Sans bold';
    margin: 0;
}

.leaflet-page .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-header.centered-header .modal-title {
    text-align: center;
}

.modal-header.left-aligned-header .modal-title {
    text-align: left;
    margin-right: 12px;
}

#settings-modal {
    display: none;
    position: relative;
}

#settings-modal .modal-header {
    background-color: var(--olivegreen);
    color: #fff;
}

#settings-modal .modal-header .close-modal {
    background: url(./../images/close-modal-white.svg) no-repeat center;
    background-size: contain;
}

.modal-container {
    position: relative;
    display: none !important;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: center;
    align-self: center;
    z-index: 100;
    height: min(94%, 1000px);
    min-height: 960px;
    border-radius: 30px;
    min-width: 435px;
    width: 24%;
}

#scan-error {
    position: absolute;
}

.modal-header .modal-icon {
    position: relative;
    background-size: contain !important;
    background: url(./../images/error-icon.svg) no-repeat;
}

.modal-header.left-aligned-header .modal-icon {
    height: 75%;
    aspect-ratio: 1;
    background-position: center;
}

.modal-header.centered-header .modal-icon {
    height: 22%;
    width: 100%;
    background-position: center;
}

.error-modal .modal-header .modal-icon {
    background: url(./../images/modal-error-icon.svg) no-repeat center;
}

.warning-modal .modal-header .modal-icon {
    background: url(./../images/modal-warning-icon.svg) no-repeat center;
}

.info-modal .modal-header .modal-icon {
    background: url(./../images/modal-info-icon.svg) no-repeat left;
}

.modal-header .close-modal {
    position: absolute;
    background: url(./../images/close-modal.svg) no-repeat center;
    background-size: contain;
    height: 20px;
    width: 20px;
    right: 24px;
    top: 21px;
    border: 0;
}

.modal-content .text-section {
    padding-bottom: 24px;
    font-size: 2vh;
    font-family: 'DM Sans semi-bold';
    text-align: justify;
}

#settings-modal.info-modal .modal-body {
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-modal .modal-body .modal-content {
    padding: 0 24px 74px;
    height: 100%;
    max-height: 100%;
}

.info-modal .modal-content.help {
    overflow: auto;
}

.info-modal .modal-content.about {
    overflow: hidden;
    padding: 0px;
}

.warning-modal .modal-header {
    background: linear-gradient(0deg, #FFFAED, #FFFAED), #FFFFFF;
}

.error-modal .modal-header {
    background: linear-gradient(0deg, rgba(248, 100, 88, 0.1), rgba(248, 100, 88, 0.1)), #FFFFFF;
}

.modal-content {
    background: #fff;
    position: relative;
    overflow: auto;
    color: #04313B;
    min-height: 354px;
    padding: 24px;
    line-height: 1.5rem;
    max-height: 60vh;
    border-radius: 0px 0px 30px 30px;
}

.popup-modal .modal-content {
    top: -15px;
    border-radius: 15px 15px 30px 30px;
}

.modal-content.terms,
.modal-content.privacy {
    padding: 0;
}

.modal-content.terms h2 {
    font-size: inherit;
}

.modal-content .languages-container {
    overflow: hidden;
}

.modal-content .languages-container .language-item-container {
    font-family: 'DM Sans semi-bold';
    border: 0.5px solid #D0D5DD;
    font-size: calc(100% + 0.3vmin);
    padding: 8px 10px 0px;
    line-height: 1;
    margin-bottom: 10px;
}

.flag-label-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.modal-content .languages-container .language-item-container .language-flag {
    vertical-align: baseline;
    width: 10%;
    top: 7px;
    position: relative;
    margin-right: 5px;
    border-radius: 8px;
}

.modal-content .languages-container .language-item-container input {
    left: 0px;
    width: 10%;
    position: relative;
    height: 16px;
    margin-left: 90%;
    top: -23px;
}

.proceed-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 56px;
    width: 100%;
    margin-top: 16px;
    background: var(--olivegreen);
    border-radius: 62px;
    border: 0;
    color: #fff;
    font-size: 2vh;
    font-family: 'DM Sans bold';
}


.go-back-button {
    font-family: 'DM Sans bold';
    font-size: 2vh;
    line-height: 140%;
    text-align: center;
    color: #516266;
    margin-top: 24px;
    width: 100%;
    border: 0;
    background: none;
}

body[dir="RTL"] .menu-icon {
    right: 87%;
    float: unset;
}

body[dir="RTL"] .app-menu-container {
    text-align: right;
    border-radius: 0px 14px 14px 14px;
    right: 0px;
}

body[dir="RTL"] .app-menu-container:before {
    border-right: 10px solid transparent;
    border-left: 10px solid #fff;
    right: calc(100% - 20px);
}

body[dir="RTL"] .forward-to-page .fwd-icon,
body[dir="RTL"] .menu-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

body[dir="RTL"] .modal-header .close-modal {
    left: 24px;
    right: unset;
}

body[dir="RTL"] .modal-container,
body[dir="RTL"] .leaflet-page .page-content,
body[dir="RTL"] .error-page .page-content {
    text-align: right;
}

body[dir="RTL"] .scan-button.go-home-button {
    left: 4vh;
    right: unset;
}

body[dir="RTL"] .modal-header.left-aligned-header .modal-title {
    margin-left: 12px;
    margin-right: unset;
}

body[dir="RTL"] .terms-container .terms-buttons-container {
    margin-right: 25px;
}

body[dir="RTL"] .modal-content .languages-container .language-item-container input {
    margin-right: 90%;
    margin-left: unset;
}

body[dir="RTL"] .leaflet-accordion-item:before {
    float: unset;
    background-position: bottom;
    top: 1.35em;
    display: block;
    right: 94%;

}

body[dir="RTL"] #leaflet-content h5 {
    margin-right: unset;
    margin-block-start: unset;
    padding-left: 10%;
}

.loader-container {
    position: absolute;
    display: none;
    background: white;
    height: 90%;
    min-height: 960px;
    border-radius: 30px;
    width: 24%;
    min-width: 435px;
    align-self: center;
    z-index: 100;
}

.loader-container.scan-page-loader {
    background: black;
    opacity: 0.7;
}

@media only screen and (max-device-width: 768px) {
    body, .page-container {
        background: white;
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        min-height: unset;
        margin: 0;
        overflow: auto;
    }

    .pharmaledger-logo {
        top: 25%;
        position: relative;
    }

    .page-container {
        background: var(--olivegreen);
        border-radius: 0;
    }

    content-container {
        max-width: 74%;
    }

    .leaflet-page .page-content, .error-page .page-content {
        height: 93%;
    }

    .loader-container {
        border-radius: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .icon-div {
        top: -5%;
        right: -11%;
        width: 6vh;
        height: 4vh;
    }

    .welcome-container {
        font-size: calc(100% + 5vmin);
    }

    .terms-content-container {
        font-size: calc(100% + 2vmin);
    }

    .scan-button-container {
        padding-bottom: 12%;
        margin-top: 7%;
    }

    .scan-button {
        font-size: calc(100% + 3vmin);
    }

    .scan-button.go-home-button {
        position: fixed;
    }

    .app-options-container {
        margin: 10% auto;
        font-size: 1.8vh;
        width: 75%;
    }

    .app-menu-container:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 30px solid transparent;
        border-right: 30px solid #fff;
        border-top: 30px solid transparent;
        border-bottom: 30px solid #fff;
        right: 0px;
        top: -40px;
    }

    .app-menu-container {
        font-size: calc(100% + 2.5vmin);
        margin-top: 30px;
    }

    .forward-to-page .fwd-icon {
        width: 0.9vh;
    }

    .content-container {
        border-radius: 8%;
    }

    .explain-container {
        font-size: calc(100% + 2.5vmin);
    }

    .scan-header {
        font-size: calc(100% + 2.2vmin);
    }

    .scan-page #scanner-placeholder {
        height: 100%;
        max-width: 100%;
    }

    #scan-error {
        top: 0px;
    }

    #scanner-placeholder canvas#scene {
        width: 200%;
        height: 200%;
    }

    #scanner-placeholder canvas#overlay {
        width: 200%;
        height: 200%;
        top: -10%;
        left: 0%;
        transform: translate(-30%, 10%);
    }

    .modal-header.left-aligned-header {
        border-radius: 0;
    }

    .page-container.error-page .page-header .header-title:after {
        margin-left: 1.5rem;
    }

    .leaflet-page .page-content, .error-page .page-content {
        font-size: calc(100% + 2vmin);
    }

    .leaflet-page .product-name,
    .modal-header .modal-title,
    .error-page .header-title {
        font-size: calc(100% + 6vmin);
        font-family: 'DM Sans bold';
    }

    .leaflet-page .product-description,
    .error-page .header-subtitle,
    .error-page .page-content {
        font-size: calc(100% + 2.5vmin);
        border-radius: 0px;
    }

    .leaflet-page .page-content {
        border-radius: 0;
    }


    #leaflet-content {
        width: 100%;
    }

    #leaflet-content,
    #leaflet-content .select-lang-text,
    #leaflet-content .languages-list {
        font-size: calc(100% + 1.5vmin);
    }

    #leaflet-content h5 {
        margin-right: 4rem;
    }

    .leaflet-accordion-item:before {
        top: 7px;
    }

    .leaflet-accordion-item table,
    .leaflet-accordion-item table td,
    .leaflet-accordion-item table th {
        font-size: 100%;
    }

    #leaflet-content .languages-list {
        margin: 0px 35px;
    }

    .modal-container {
        top: 0px;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        position: fixed;
        border-radius: unset;
    }

    .modal-container .modal-body {
        border-radius: 25px;
        margin: 0px 3%;
        position: relative;
    }

    #settings-modal.modal-container .modal-body {
        max-height: 100%;
    }

    .modal-header {
        height: auto;
    }

    .modal-header.centered-header {
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
    }

    .info-modal .modal-header, .info-modal .modal-content {
        border-radius: unset;
    }

    .modal-header .modal-subtitle {
        position: relative;
        font-size: calc(100% + 2.2vmin);
    }

    .modal-header .close-modal {
        height: 3vh;
        width: 3vh;
        right: 2vh;
        top: 2vh;
    }

    .modal-content {
        padding: 7%;
        line-height: calc(100% + 4vmin);
        min-height: 42%;
        font-size: calc(100% + 4vmin);
        border-radius: 30px;
        top: -30px;
    }

    .popup-modal .modal-content {
        border-radius: 15px 15px 60px 60px;
    }

    #settings-modal .modal-content {
        top: 0px;
        max-height: 100%;
    }

    .modal-content .text-section {
        font-family: 'DM Sans semi-bold';
        text-align: justify;
        padding-bottom: 7%;
        font-size: 100%;
    }

    .modal-content .languages-container .language-item-container .language-flag {
        top: 16px;
        margin-left: 10px;
    }

    .modal-content .languages-container .language-item-container {
        margin-bottom: 2%;
        border-radius: 16px;
    }

    .modal-content .languages-container .language-item-container input {
        left: 0px;
        width: 10%;
        position: relative;
        height: 36px;
        margin-left: 90%;
        top: -43px;
    }

    .proceed-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;
        gap: 3%;
        height: 6%;
        margin-top: 4%;
        background: var(--olivegreen);
        border-radius: 62px;
        color: #fff;
        font-size: calc(100% + 1vmin);
        font-family: 'DM Sans bold';
    }

    .go-back-button {
        font-family: 'DM Sans bold';
        font-size: calc(100% + 1vmin);
        line-height: 140%;
        text-align: center;
        color: #516266;
        margin-top: 8%;
    }
}

@media only screen and (orientation: landscape) {

    body {
        min-height: 1000px;
        min-width: 435px;
        width: max(24%, 460px);
        height: 100%;
        margin: auto;
        background-image: url(./../images/background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .pharmaledger-logo {
        top: 0;
    }

    .modal-container {
        position: relative;
    }

    #scan-error {
        position: absolute;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 768px) {

    body {
        width: max(60%, 460px);
    }

    .modal-header.centered-header {
        height: 48vh;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .popup-modal .modal-content {
        border-radius: inherit;
        top: -22px;
    }

    .modal-header .close-modal {
        height: 3vw;
        width: 3vw;
    }

    .scan-button.go-home-button {
        position: absolute;
    }

    .proceed-button {
        height: 14%;
    }
}

.ignore-tab {
    tab-index: -1;
}

@media only screen and (max-width: 435px) {
    body {
        min-width: 300px;
    }
}
