export default {
  "epiDomain": "localhost.epi",
  "epiProtocolVersion": 1,
  "appBuildVersion": "2023.0.4",
  "bdnsUrl": "https://raw.githubusercontent.com/pharmaledgerassoc/mobile-bdns/master/bdns.json"
}
